<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <title>Brian's Magic: The Gathering Homepage</title>
    <!--for google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Frijole|Comfortaa|Creepster|Satisfy&display=swap" rel="stylesheet">
    <!--CSS modifications-->
    <link rel="stylesheet" type="text/css" href="magic.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body onload="showCombos()">
    <header>
      <div id="header" class="container">
        <h1 id="slogan">COMBO CHAOS</h1>
        <img class="mx-auto d-block text-center img-fluid" id="WMlogo" src="https://logodix.com/logo/2086275.png" alt="WM Logo">   
      </div>
      <ul id="menuBar">
        <li class="mb"><a href="https://scryfall.com/docs/syntax" target="_blank">Scryfall Search Reference</a></li>
      </ul> <!-- end menuBar -->
    </header><br><!-- end header -->

    <div class="redBorder"><!-- search list form -->
      <h2 class="header1">Search for a list of cards by query</h2>
      <p class="red">Scryfall includes a large set of keywords and expressions you can use to filter Magic cards. (Link on Menubar or try "is:funny")</p><br>
      <form id="searchQueryForm" method="POST" action="/searchCard">
        <input class="input" name="cardQuery" id="cardQuery" type="text" placeholder="Search by Query for a List of Cards"><br>
        <input type="submit" onclick="grab_list()" value="Search by List/Next Page"><br>
        Group #<input class="smInput" id="groupNum" value="1"><br>
        Page #<input class="smInput" id="pageNum" value="0"><br>
        <div id="cardList"></div>
      </form>
    </div><br><!--end search list form -->

    <!-- search card form -->
    <form class="redBorder" id="cardSearchForm" method="GET" action="/getCard">
      <h2 class="header1">Search for a card by name</h2>
      <input id="cardSearch" name="cardSearch" class="input" type="text" placeholder="Search Card by Name"><br>
      <input type="submit" onclick="grab_card()" value="Search Card by Name"><br>
      <div id="picture2"></div>Click a Searched Card to Add it to the Combo
    </form><br><!-- end search card form -->

    <!-- submit combo form -->
    <form class="redBorder" id="submitComboForm"><!--onsubmit="submitUsernameForm()" method="GET" action="/submitUsername"-->
      <h2 class="header1">Submit up to five cards in the Combo</h2>
      Change Card Slot<input class="smInput" id="cardId" value="1"><br>
      <div class="redBorder">
        <div class="cardImg" id="img1">Card 1</div><div class="cardImg" id="img2">Card 2</div><div class="cardImg" id="img3">Card 3</div><div class="cardImg" id="img4">Card 4</div><div class="cardImg" id="img5">Card 5</div>
        <br>Click Card to Remove from Slot
      </div>
      <input type="hidden" id="card1" type="text">
      <input type="hidden" id="card2" type="text">
      <input type="hidden" id="card3" type="text">
      <input type="hidden" id="card4" type="text">
      <input type="hidden" id="card5" type="text">
      <textarea class="input" id="explanation" placeholder="Explanation"></textarea><br>
      <input class="input" id="username" type="text" placeholder="Username"><br>
      <input type="button" value="Submit Combo" onclick="submitUsernameForm()">
    </form><br><!-- end submit combo form -->

    <div class="redBorder"><!-- combos page -->
      <h1 class="header1">Combos Page</h1>
      <div id="combos"></div>
    </div><!-- end combos page -->

    <script src="javascript/magic.js"></script>

  </body>
</html>
  